h1 Crear un nuevo periodo escolar
p.school_period_form En esta seccion podra crear un nuevo periodo escolar <strong> Dejará sin inscripcion a periodos anteriores </strong>

= render :partial => "form", locals: {school_period: @school_period}